.container {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 0;
  background-color: #f7f9f9;
  border-radius: 32px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.header {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-weight: 1000;
  margin-left: 16px;
}

.inner_container {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.inner_container:hover {
  background-color: rgba(219, 230, 230, 0.786);
}

.image {
  width: 3rem;
  height: 3rem;
  border-radius: 50rem;
}

.name {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.inner_name {
  font-size: 0.9rem;
}

.btn {
  width: 85px;
  height: 32px;
  border-radius: 20rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.button {
  width: 100%;
  border: none;
  height: 3.4rem;
  font-size: 1rem;
  text-align: left;
  padding: 1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.button:hover {
  background-color: rgba(219, 230, 230, 0.786);
}
