.logoutconfirmation {
  border: 1rem solid white;
  transform: scale(0.9);
}

.Logout {
  border: 1rem solid white;
  transform: scale(0.9);
  display: flex;
  align-items: center;
  height: 3px;
  width: 15rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}
.btn {
  margin-left: 1px;
  margin-right: 9rem;
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 white;
  border: 1px solid white;
  width: 16rem;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 19px;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover {
  background-color: whitesmoke;
  height: 3rem;
  color: #50b7f5;
  margin-left: 1px;
  margin-right: 9rem;
  width: 16rem;
}
